$nav-height: 60px;
$scrim-width: 550px;
$bar-height: 10vh;
$yellow: #F2DC5D;
$blue: #70D6FF;

.email-bar {
  width: 100vw;
  height: $bar-height;
  display: flex;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .left {
    width: calc((100vw - 550px) / 2);
    height: $bar-height;
    order: 1;
    background: $yellow;
  }

  .mid-section {
    display: flex;
    order: 2;
    width: 550px;;
    flex-direction: column;

    .middle-top {
      flex-grow: 1;
      background: $yellow;
    }

    .input-box {
      flex-grow: 2.5;
      position: relative;
      background: transparent;

      input[type=text] {
        width: 100%;
        height: 100%;
        padding-left: 10px;
        position: absolute;
        background: transparent;
        border: none;
        font-size: 20px;
        line-height: 100%;
        color: #FFFFFF;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        color: white;
      }

      .signup-button {
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        background: $blue;
      }
    }

    .middle-bottom {
      flex-grow: 1;
      background: $yellow;
    }    
  }

  .right {
    width: calc((100vw - 550px) / 2);
    height: $bar-height;
    order: 3;
    background: $yellow;
  }
}