$nav-height: 60px;
$landing-height: 100vh;
$bar-height-mobile: 15vh;
$bar-height-desktop: 80px;
$scrim-width: 550px;

$yellow: #F2DC5D;
$blue: #70D6FF;
$green: #32DBC4;
$black: #14080E;
$transparent-background: rgba(50, 219, 196, 0.7);

$left-margin: 25px;
$mobile-horizontal-padding: 4vw;

/* NOTE: The menu transform has a different breakpoint, 900px */
@mixin desktop {
  @media (min-width: 600px) { 
    @content; 
  }
}

@mixin font-size($mobile-em, $desktop-px:false) {
  font-size: $mobile-em;

  @include desktop {
    font-size: $desktop-px;
  }
}

%bar-height {
  height: $bar-height-mobile;

  @include desktop {
    height: $bar-height-desktop;
  }
}

%frosted {
  background: $transparent-background;

  @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    background-color: rgba(50, 219, 196, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}