@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
/* ORDER OF ATTRIBUTES 
1. Width + Height
2. Padding + Margin
3. Positioning
4. Background
5. Fonts
6. Colours
*/
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: normal; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal; }

.navbar {
  width: 100vw;
  height: 8vh;
  position: fixed;
  border-bottom: 1px #FFFFFF solid;
  z-index: 1000; }

.landing {
  width: 100vw;
  height: 90vh;
  padding-top: 8vh;
  position: relative;
  background: #F1F1F1;
  background-image: url("./images/max_lesson.jpg");
  background-size: cover; }
  .landing .landing-scrim {
    width: 550px;
    margin: auto;
    padding: 20px;
    position: absolute;
    bottom: 10vh;
    left: calc(50% - 275px);
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box; }
    .landing .landing-scrim h1, .landing .landing-scrim p {
      color: #FFFFFF; }
    .landing .landing-scrim h1 {
      margin-top: 0px; }

.email-bar {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }
  .email-bar .left {
    width: calc((100vw - 550px) / 2);
    height: 10vh;
    order: 1;
    background: #F2DC5D; }
  .email-bar .mid-section {
    display: flex;
    order: 2;
    width: 550px;
    flex-direction: column; }
    .email-bar .mid-section .middle-top {
      flex-grow: 1;
      background: #F2DC5D; }
    .email-bar .mid-section .input-box {
      flex-grow: 2.5;
      position: relative;
      background: transparent; }
      .email-bar .mid-section .input-box .signup-button {
        width: 25%;
        height: 100%;
        position: absolute;
        right: 0;
        background: #70D6FF; }
    .email-bar .mid-section .middle-bottom {
      flex-grow: 1;
      background: #F2DC5D; }
  .email-bar .right {
    width: calc((100vw - 550px) / 2);
    height: 10vh;
    order: 3;
    background: #F2DC5D; }
