@import 'utilities/variables';

@mixin email-bar-template($colour, $button-color) {
  max-width: 100vw;
  height: 80px;
  display: flex;
  z-index: 900;
  @extend %frosted;

  .left {
    display: none;
    width: calc((100vw - 550px) / 2);
    height: 80px;
    position: relative;
    order: 1;
    background: $colour;

    @include desktop {
      display: block;
    }
  }

  .mid-section {
    display: flex;
    order: 2;
    width: 100vw;
    flex-direction: column;

    @include desktop {
      width: 550px;
    }

    .middle-top {
      background: $colour;
      height: 2px;

      @include desktop {
        flex-grow: 1;
      }
    }

    .middle-middle {
      height: 50%;
      margin: 0;
      position: relative;
      background: transparent;

      @include desktop {
        height: 60%;
      }
    }

    .input-box {
      height: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      background: transparent;

      @include desktop {
        flex-wrap: nowrap;
      }

      input[type=text] {
        flex: 3 1 auto;
        height: 100%;
        padding-left: 20px;
        background: transparent;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        vertical-align: middle;
        @include font-size(0.8em, 25px);
        font-weight: 400;
        color: #FFFFFF;
        opacity: 1;
      }

      input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px rgba(50, 219, 196, 0.8) inset;
          -webkit-text-fill-color: #FFFFFF !important;
      }

      input[type=submit].signup-button {
        width: 100%;
        height: 100%;
        margin: 0;
        background: $button-color;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: lighter; 
        font-size: 24px;
        color: white;
        border: none;

        @include desktop {
          width: auto;
          flex: 1 1 auto;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .middle-bottom {
      visibility: hidden;
      margin: 0;
      flex-grow: 1;
      background: $colour;

      @include desktop {
        visibility: initial;
      }
    }    
  }

  .right {
    display: none;
    width: calc((100vw - 550px) / 2);
    height: 80px;
    order: 3;
    background: $colour;

    @include desktop {
      display: block;
    }
  }
}

// Absolete, but leaving it for reference for using this technique
// %email-bar-template-yellow {
//   @include email-bar-template($green, $yellow);
// }

.email-bar {
  @include email-bar-template($yellow, $blue);
}