@import 'utilities/variables';

@mixin email-bar-template($colour, $button-color) {
  width: 100vw;
  @extend %bar-height;
  display: flex;
  z-index: 900;
  box-shadow: 0px 4px 4px -5px rgba(0,0,0,0.9);
  @extend %frosted;

  .left {
    width: calc((100vw - 550px) / 2);
    @extend %bar-height;
    position: relative;
    order: 1;
    background: $colour;
  }

  .mid-section {
    display: flex;
    order: 2;
    width: 550px;;
    flex-direction: column;

    .middle-top {
      flex-grow: 1;
      background: $colour;
    }

    .middle-middle {
      height: 50%;
      position: relative;
      background: transparent;

      @include desktop {
        height: 60%;
      }
    }

    .input-box {
      height: 100%;
      display: flex;
      position: relative;
      background: transparent;

      input[type=text] {
        flex: 3 1 auto;
        height: 100%;
        padding-left: 20px;
        background: transparent;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF;
      }

      input:focus {
        outline: none;
      }

      input::placeholder {
        @include font-size(0.8em, 25px);
        color: white;
      }

      input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px $black inset;
          -webkit-text-fill-color: #FFFFFF !important;
      }

      .signup-button {
        flex: 1 1 auto;
        height: 100%;
        background: $button-color;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: lighter; 
        font-size: 24px;
        color: white;
        border: none;
      }
    }

    .middle-bottom {
      flex-grow: 1;
      background: $colour;
    }    
  }

  .right {
    width: calc((100vw - 550px) / 2);
    @extend %bar-height;
    order: 3;
    background: $colour;
  }
}

// Absolete, but leaving it for reference for using this technique
// %email-bar-template-yellow {
//   @include email-bar-template($green, $yellow);
// }

.email-bar {
  @include email-bar-template($yellow, $blue);
}

.landing {
  .email-bar {
    position: absolute;
    bottom: 0;
  }
}