@import 'utilities/variables';

.footer-container {
  width: 100%;
  padding: 4vh $mobile-horizontal-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: $yellow;
  box-sizing: border-box;

  @include desktop {
    padding: 40px 25px;
  }

  p {
    color: $black;
  }

  h1 {
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
    color: $black;

    @include desktop {
      width: auto;
      flex: 2 1 auto;
    }
  }

  %column {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 auto;

    a {
      margin: 2px 0;
      text-decoration: none;
      color: $black;
    }
  }

  .column-1 {
    @extend %column;
  }

  .column-2 {
    @extend %column;
  }

  .divider {
    width: 95%;
    height: 1px;
    margin: 25px auto;
    background: black;
  }

  p.copyright {
    @include font-size(0.8em, 14px);
    text-align: center;
  }

}