div.card-container {
  width: 195px;
  height: auto;
  margin: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  // flex: 1 1 auto;

  div.photo {
    width: 195px;
    height: 130px;
    display: flex;
    background: white;;

    div.caption {
      width: 100%;
      align-self: flex-end;
      background: rgba(0, 0, 0, 0.4);

      p {
        padding: 5px;
        margin: 0;
        font-size: 1em;
        text-align: right;
        color: #FFFFFF;
      }
    }
  }

  div.description {
    width: 195px;
    padding: 5px;

    p {
      font-size: 1em;
    }

    div.figures {
      display: flex;
      justify-content: space-between;
      font-size: 0.75em;
    }
  }

}