@import 'utilities/variables';

div.card-container {
  width: 44vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 195px;
    margin: 0 10px;
  }

  div.photo {
    width: 100%;
    // height is temporary
    height: 20vh;
    display: flex;
    background: white;;

    @include desktop {
      width: 195px;
      height: 130px;
    }

    div.caption {
      width: 100%;
      align-self: flex-end;
      background: rgba(0, 0, 0, 0.4);

      p {
        padding: 5px;
        margin: 0;
        font-size: 1em;
        text-align: right;
        color: #FFFFFF;
      }
    }
  }

  div.description {
    width: 100%;
    
    @include desktop {
      width: 195px;
      padding: 5px;
    }

    p {
      font-size: 1em;
    }

    div.figures {
      display: flex;
      justify-content: space-between;
      font-size: 0.75em;
    }
  }

}