@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Playfair+Display:400,700|Gloria+Hallelujah');
@import 'emailbar';
@import 'lessoncard';
@import 'footer';
@import 'navbar';
@import 'home';

@import 'utilities/variables';

/*
NOTE ABOUT RESPONSIVENESS:
All dimensions are by default in responsive units e.g. vw, vh, %, em
Use the desktop mixin to override these for wider screen ie desktop settings
*/

/* ORDER OF ATTRIBUTES 
1. Width + Height
2. Padding + Margin
3. Positioning
4. Background
5. Fonts
6. Colours
*/

/* FONT SIZES
Desktop: 40px, 32px, 24px, 16px, 14px;
Mobile: 2em, 1.6em, 1.4em, 1em;
*/

html {
  width: 100%;
  height: 100%;
  background-image: url('../images/backgrounds/painting.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 45% 5%;
  background-size: cover;
  background-blend-mode: darken;
  -moz-transition: 2.5s;
  transition: 2.5s;
}

body {
  background: transparent;
}


h1 {
  font-family: 'Playfair Display', serif;
  @include font-size(2em, 40px);
  font-weight: normal;
  margin: 0;

  &.title {
    text-align: center;
    margin-bottom: 25px;

    @include desktop {
      margin-bottom: 5vh;
    }
  }
}

h2 {
  font-family: 'Playfair Display', serif;
  @include font-size(1.6em, 32px);
  font-weight: normal;
  margin: 0;

  &.title {
    text-align: center;
    margin-bottom: 25px;

    @include desktop {
      margin-bottom: 5vh;
    }
  }
}

h3 {
  font-family: 'Playfair Display', serif;
  @include font-size(1.4em, 16px);
  font-weight: 700;
  margin: 0; 
}

p {
  font-family: 'Open Sans', sans-serif;
  @include font-size(1.4em, 24px);
  font-weight: 300;
  margin: 0;

  &.smaller {
    @include font-size(1em, 16px);
  }

  &.smallest {
    @include font-size(1em, 14px);
  }

  &.verbose {
    margin: 4vh 0;

    @include desktop {
      margin: 25px 0;
    }
  }
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $blue;
  cursor: pointer;

  &:hover {
    color: $green;
  }
}

li {
  font-family: 'Open Sans', sans-serif;
  @include font-size(1.3em, 24px);
  font-weight: 300;    
}

div.feature {
  width: 100vw;
  height: $landing-height;
  position: relative;

  .cell {
    margin: 0;
    width: 100%;
    height: $landing-height;
    position: relative;
    background: transparent;
  }

// The following chunk is some CSS trickery to create a 'frosted glass' look for feature-scrim
// Create an element that is nearly identical to .feature-scrim but just a bit smaller, then apply a box-shadow and blur
  .glass {
    width: 100%;
    margin: auto;
    padding: 3vh $mobile-horizontal-padding;
    position: absolute;
    bottom: $bar-height-mobile;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;  
    filter: blur(25px);
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0 0 50px 50px rgba(128,128,128, 0.8);

    h1, p {
      visibility: hidden;
    }

    @include desktop {
      width: $scrim-width - 60px;
      padding: 25px;
      bottom: $bar-height-desktop - 20px;
      left: calc(50% - 245px);      
    }     
  }

  @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    .glass {
      display: none;
    }
  }

  .feature-scrim {
    width: 100%;
    margin: auto;
    padding: 3vh $mobile-horizontal-padding;
    position: absolute;
    bottom: $bar-height-mobile;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    z-index: 900;
    overflow: hidden;
    @extend %frosted;

    @include desktop {
      width: $scrim-width;
      padding: 25px;
      bottom: $bar-height-desktop;
      left: calc(50% - 275px);
    }

    h1, p {
      color: #FFFFFF;
    }

    h1 {
      margin: 0 0 15px 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  .feature-scrim::before {
    filter: blur(25px);
  }
  
  .email-bar {
    position: absolute;
    bottom: 0;
  }
}


div.about-container {
  @extend %page-layout;
  width: 100vw;
  position: relative;
  box-sizing: border-box;

  div.trio-benefits {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @include desktop {
      flex-wrap: nowrap;
      flex-direction: row;
    }

    h2, p {
      margin: 1vh 0;
    }

    svg[class*='fa'] {
      @include font-size(4em, 50px);
    }

    div.benefit {
      margin: 1vh 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        width: 25vw;
        padding: 20px;
      }

      p {
        font-size: 20px;
        text-align: center;
      }

      img {
        max-width: 70%;
      }
    }
  }
}

div.mentor-container {
  @extend %page-layout;

  div.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    img {
      width: 80%;

      @include desktop {
        width: 20%;
      }
    }

    p {
      width: 100%;

      @include desktop {
        width: 60%;
      }
    }

    &:nth-child(3) {
      p {
        padding-left: 5vw;
      }
    }
  }

  div.section-two {
    img {
      order: 2;

      @include desktop {
        order: 1;
      }
    }

    p {
      order: 1;

      @include desktop {
        order: 2;
      }
    }
  }
}

div.team-container {
  @extend %page-layout;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h1 {
    width: 100%;
  }

  div.team-member {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      width: 25%;
    }

    img {
      width: auto;
      height: 250px;
      object-fit: cover;
    }

    p.title {
      margin-bottom: 2vh;
      @include font-size(1.2em, 20px);
      font-weight: 400;

      @include desktop {
        margin-bottom: 10px;
      }
    }
  }

  .section-group {
    width: 100%;
    margin: 5vh 0;

    @include desktop {
      margin: 25px 0;
    }
  }
}

div.contact-container {
  @extend %page-layout;
}