@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');
@import 'emailbar';
@import 'lessoncard';
@import 'footer';
@import 'navbar';

@import 'utilities/variables';

/*
NOTE ABOUT RESPONSIVENESS:
All dimensions are by default in responsive units e.g. vw, vh, %, em
Use the desktop mixin to override these for wider screen ie desktop settings
*/

/* ORDER OF ATTRIBUTES 
1. Width + Height
2. Padding + Margin
3. Positioning
4. Background
5. Fonts
6. Colours
*/

body {
  background: #FAFAFA;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: normal;  
}

p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

a {
  font-family: 'Open Sans Light+', sans-serif;
  font-weight: lighter;
}

span.yellow {
  color: $yellow;
}

.landing {
  width: 100vw;
  height: $landing-height;
  position: relative;

  .carousel-cell {
    width: 100%;
    height: $landing-height;
  }

  .first {
    background-image: url('../images/painting.jpg');
    background-size: cover;    
  }

  .second {
    background-image: url('../images/max_lesson.jpg');
    background-size: cover;    
  }

  .third {
    background-image: url('../images/terrarium.jpg');
    background-size: cover;    
  }

  .landing-scrim {
    width: 100%;
    margin: auto;
    padding: 1vh 1vw;
    position: absolute;
    bottom: $bar-height;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    z-index: 900;

    @include desktop {
      width: $scrim-width;
      padding: 25px;
      left: calc(50% - 275px);
    }

    h1, p {
      color: #FFFFFF;
    }

    h1 {
      margin-top: 0px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.flickity-prev-next-button {
  width: 2vw;
  height: 2vh;
  background: transparent;

  @include desktop {
    width: 100px;
    height: 100px;
  }
}

div.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #FAFAFA;

  h1 {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: block;
    text-align: center;
  }
}

div.lesson-container {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex: 1.6 1 0;

  @media (min-width: 1520px) {
    justify-content: flex-start;
  }

  @media (max-width: 942px) {
    width: 15vw;
  }
}

div.preview-description {
  padding-right: 50px;
  flex: 1 1 0;
  // align-self: center;
}

%main {
  padding: 0 5vw;

  @include desktop {
    padding: 0 100px;
  }
}

div.about {
  @extend %main;
  width: 100vw;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box;

  h1 {
    text-align: center;
  }

  li {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 24px;
    font-weight: lighter;    
  }
}

div.coming-soon {
  @extend %main;
}

div.trio-benefits {
  width: 100%;
  margin: 5vw 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
  }

  h2, p {
    margin: 1vh 0;
  }

  svg[class*='fa'] {
    @include font-size(4em, 50px);
  }

  div.benefit {
    width: 25vw;
    // margin: 0 2vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      margin: 0 5px;
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }
}