@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
.email-bar, .landing .email-bar {
  width: 100vw;
  height: 80px;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900; }
  .email-bar .left {
    width: calc((100vw - 550px) / 2);
    height: 80px;
    order: 1;
    background: #32DBC4; }
  .email-bar .mid-section {
    display: flex;
    order: 2;
    width: 550px;
    flex-direction: column; }
    .email-bar .mid-section .middle-top {
      flex-grow: 1;
      background: #32DBC4; }
    .email-bar .mid-section .input-box {
      height: 60%;
      display: flex;
      position: relative;
      background: transparent; }
      .email-bar .mid-section .input-box input[type=text] {
        flex: 3 1 auto;
        height: 100%;
        padding-left: 20px;
        background: transparent;
        border: none;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF; }
      .email-bar .mid-section .input-box input:focus {
        outline: none; }
      .email-bar .mid-section .input-box input::placeholder {
        color: white; }
      .email-bar .mid-section .input-box input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #14080E inset;
        -webkit-text-fill-color: #FFFFFF !important; }
      .email-bar .mid-section .input-box .signup-button {
        flex: 1 1 auto;
        height: 100%;
        background: #70D6FF;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        color: white;
        border: none; }
    .email-bar .mid-section .middle-bottom {
      flex-grow: 1;
      background: #32DBC4; }
  .email-bar .right {
    width: calc((100vw - 550px) / 2);
    height: 80px;
    order: 3;
    background: #32DBC4; }

.landing .email-bar {
  position: absolute;
  bottom: 0; }

div.card-container {
  width: 195px;
  height: auto;
  margin: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column; }
  div.card-container div.photo {
    width: 195px;
    height: 130px;
    display: flex;
    background: white; }
    div.card-container div.photo div.caption {
      width: 100%;
      align-self: flex-end;
      background: rgba(0, 0, 0, 0.4); }
      div.card-container div.photo div.caption p {
        padding: 5px;
        margin: 0;
        font-size: 1em;
        text-align: right;
        color: #FFFFFF; }
  div.card-container div.description {
    width: 195px;
    padding: 5px; }
    div.card-container div.description p {
      font-size: 1em; }
    div.card-container div.description div.figures {
      display: flex;
      justify-content: space-between;
      font-size: 0.75em; }

.footer {
  width: 100%;
  padding: 40px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #F2DC5D;
  box-sizing: border-box; }
  .footer p {
    color: #14080E; }
  .footer h1 {
    margin-top: 0px;
    display: inline-block;
    flex: 2 1 auto;
    text-align: center;
    font-weight: bold;
    color: #14080E; }
  .footer .column-1, .footer .column-2 {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1 auto; }
    .footer .column-1 a, .footer .column-2 a {
      margin: 2px 0;
      text-decoration: none;
      color: #14080E; }
  .footer .divider {
    width: 95%;
    height: 1px;
    margin: 17px auto;
    background: black; }
  .footer p.copyright {
    font-size: 1em; }

/* ORDER OF ATTRIBUTES 
1. Width + Height
2. Padding + Margin
3. Positioning
4. Background
5. Fonts
6. Colours
*/
body {
  background: #FAFAFA; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: normal; }

p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 24px;
  font-weight: lighter; }

a {
  font-family: 'Open Sans Light+', sans-serif;
  font-weight: lighter; }

span.yellow {
  color: #F2DC5D; }

.navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px #FFFFFF solid;
  z-index: 1000;
  box-sizing: border-box;
  transition: background 250ms; }
  .navbar h1.logo {
    order: 1;
    margin-left: 25px;
    color: #32DBC4;
    font-weight: bold; }
  .navbar div.links {
    width: 100%;
    display: flex;
    align-items: center; }
  .navbar a {
    margin: 0 30px;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: white;
    vertical-align: middle; }
  .navbar a.about {
    margin-left: auto; }
  .navbar a.browse {
    padding: 7px 12px;
    background: #F2DC5D;
    box-sizing: border-box;
    border-radius: 2px; }

.navbar.white {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px -5px rgba(0, 0, 0, 0.9); }
  .navbar.white a {
    color: #000000; }
  .navbar.white a.browse {
    color: white; }

.landing {
  width: 100vw;
  height: 90vh;
  position: relative; }
  .landing .carousel-cell {
    width: 100%;
    height: 90vh; }
  .landing .first {
    background-image: url("../images/painting.jpg");
    background-size: cover; }
  .landing .second {
    background-image: url("../images/max_lesson.jpg");
    background-size: cover; }
  .landing .third {
    background-image: url("../images/terrarium.jpg");
    background-size: cover; }
  .landing .landing-scrim {
    width: 550px;
    margin: auto;
    padding: 25px;
    position: absolute;
    bottom: 80px;
    left: calc(50% - 275px);
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    z-index: 900; }
    .landing .landing-scrim h1, .landing .landing-scrim p {
      color: #FFFFFF; }
    .landing .landing-scrim h1 {
      margin-top: 0px; }
    .landing .landing-scrim p {
      margin-bottom: 0; }

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent; }

div.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #FAFAFA; }
  div.preview h1 {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: block;
    text-align: center; }

div.lesson-container {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex: 1.6 1 0; }
  @media (min-width: 1520px) {
    div.lesson-container {
      justify-content: flex-start; } }
  @media (max-width: 942px) {
    div.lesson-container {
      width: 15vw; } }

div.preview-description {
  padding-right: 50px;
  flex: 1 1 0; }

div.about, div.coming-soon {
  padding: 0 100px; }

div.about {
  width: 100vw;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box; }
  div.about h1 {
    text-align: center; }
  div.about li {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 24px;
    font-weight: lighter; }
