@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");
/* NOTE: The menu transform has a different breakpoint, 900px */
.email-bar, .email-bar .left, .email-bar .right, .navbar {
  height: 15vh; }
  @media (min-width: 600px) {
    .email-bar, .email-bar .left, .email-bar .right, .navbar {
      height: 80px; } }

.email-bar {
  width: 100vw;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900; }
  .email-bar .left {
    width: calc((100vw - 550px) / 2);
    order: 1;
    background: #32DBC4; }
  .email-bar .mid-section {
    display: flex;
    order: 2;
    width: 550px;
    flex-direction: column; }
    .email-bar .mid-section .middle-top {
      flex-grow: 1;
      background: #32DBC4; }
    .email-bar .mid-section .middle-middle {
      height: 50%;
      position: relative;
      background: transparent; }
      @media (min-width: 600px) {
        .email-bar .mid-section .middle-middle {
          height: 60%; } }
    .email-bar .mid-section .input-box {
      height: 100%;
      display: flex;
      position: relative;
      background: transparent; }
      .email-bar .mid-section .input-box input[type=text] {
        flex: 3 1 auto;
        height: 100%;
        padding-left: 20px;
        background: transparent;
        border: none;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        line-height: 100%;
        color: #FFFFFF; }
      .email-bar .mid-section .input-box input:focus {
        outline: none; }
      .email-bar .mid-section .input-box input::placeholder {
        color: white; }
      .email-bar .mid-section .input-box input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #14080E inset;
        -webkit-text-fill-color: #FFFFFF !important; }
      .email-bar .mid-section .input-box .signup-button {
        flex: 1 1 auto;
        height: 100%;
        background: #F2DC5D;
        font-family: 'Open Sans Light', sans-serif;
        font-weight: lighter;
        font-size: 24px;
        color: white;
        border: none; }
    .email-bar .mid-section .middle-bottom {
      flex-grow: 1;
      background: #32DBC4; }
  .email-bar .right {
    width: calc((100vw - 550px) / 2);
    order: 3;
    background: #32DBC4; }

.landing .email-bar {
  position: absolute;
  bottom: 0; }

/* NOTE: The menu transform has a different breakpoint, 900px */
.email-bar, .email-bar .left, .email-bar .right, .navbar {
  height: 15vh; }
  @media (min-width: 600px) {
    .email-bar, .email-bar .left, .email-bar .right, .navbar {
      height: 80px; } }

div.card-container {
  width: 44vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (min-width: 600px) {
    div.card-container {
      width: 195px;
      margin: 0 10px; } }
  div.card-container div.photo {
    width: 100%;
    height: 20vh;
    display: flex;
    background: white; }
    @media (min-width: 600px) {
      div.card-container div.photo {
        width: 195px;
        height: 130px; } }
    div.card-container div.photo div.caption {
      width: 100%;
      align-self: flex-end;
      background: rgba(0, 0, 0, 0.4); }
      div.card-container div.photo div.caption p {
        padding: 5px;
        margin: 0;
        font-size: 1em;
        text-align: right;
        color: #FFFFFF; }
  div.card-container div.description {
    width: 100%; }
    @media (min-width: 600px) {
      div.card-container div.description {
        width: 195px;
        padding: 5px; } }
    div.card-container div.description p {
      font-size: 1em; }
    div.card-container div.description div.figures {
      display: flex;
      justify-content: space-between;
      font-size: 0.75em; }

/* NOTE: The menu transform has a different breakpoint, 900px */
.email-bar, .email-bar .left, .email-bar .right, .navbar {
  height: 15vh; }
  @media (min-width: 600px) {
    .email-bar, .email-bar .left, .email-bar .right, .navbar {
      height: 80px; } }

.footer {
  width: 100%;
  padding: 4vh 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #F2DC5D;
  box-sizing: border-box; }
  @media (min-width: 600px) {
    .footer {
      padding: 40px 25px; } }
  .footer p {
    color: #14080E; }
  .footer h1 {
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #14080E; }
    @media (min-width: 600px) {
      .footer h1 {
        width: auto;
        flex: 2 1 auto; } }
  .footer .column-1, .footer .column-2 {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 auto; }
    .footer .column-1 a, .footer .column-2 a {
      margin: 2px 0;
      text-decoration: none;
      color: #14080E; }
  .footer .divider {
    width: 95%;
    height: 1px;
    margin: 17px auto;
    background: black; }
  .footer p.copyright {
    text-align: center;
    font-size: 1em; }

/* NOTE: The menu transform has a different breakpoint, 900px */
.email-bar, .email-bar .left, .email-bar .right, .navbar {
  height: 15vh; }
  @media (min-width: 600px) {
    .email-bar, .email-bar .left, .email-bar .right, .navbar {
      height: 80px; } }

.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  box-sizing: border-box;
  transition: background 300ms; }
  .navbar h1.logo {
    padding-left: 4vw;
    order: 1;
    color: #32DBC4;
    font-weight: bold; }
    @media (min-width: 600px) {
      .navbar h1.logo {
        padding-left: 25px; } }
  .navbar div.bars {
    margin-left: auto; }
    .navbar div.bars .fa-bars {
      display: block;
      margin-left: auto;
      padding-right: 3vw;
      font-size: 2em;
      color: white; }
  .navbar div.links {
    margin-left: auto; }
  .navbar a {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: white;
    vertical-align: middle; }
    @media (min-width: 600px) {
      .navbar a {
        margin: 0 30px; } }
  .navbar a.about {
    margin-left: auto; }
  .navbar a.browse {
    padding: 7px 12px;
    background: #70D6FF;
    box-sizing: border-box;
    border-radius: 2px; }

.navbar.scroll {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px -5px rgba(0, 0, 0, 0.9); }
  .navbar.scroll div.bars .fa-bars {
    color: #14080E; }
  .navbar.scroll a {
    color: #000000; }
  .navbar.scroll a.browse {
    color: white; }

/* NOTE: The menu transform has a different breakpoint, 900px */
.email-bar, .email-bar .left, .email-bar .right, .navbar {
  height: 15vh; }
  @media (min-width: 600px) {
    .email-bar, .email-bar .left, .email-bar .right, .navbar {
      height: 80px; } }

/*
NOTE ABOUT RESPONSIVENESS:
All dimensions are by default in responsive units e.g. vw, vh, %, em
Use the desktop mixin to override these for wider screen ie desktop settings
*/
/* ORDER OF ATTRIBUTES 
1. Width + Height
2. Padding + Margin
3. Positioning
4. Background
5. Fonts
6. Colours
*/
body {
  background: #FAFAFA; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  font-weight: normal; }
  @media (min-width: 600px) {
    h1 {
      font-size: 40px; } }
  h1.title {
    text-align: center; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6em;
  font-weight: normal; }
  @media (min-width: 600px) {
    h2 {
      font-size: 32px; } }

p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 1.4em;
  font-weight: lighter; }
  @media (min-width: 600px) {
    p {
      font-size: 24px; } }

a {
  font-family: 'Open Sans Light+', sans-serif;
  font-weight: lighter; }

span.yellow {
  color: #F2DC5D; }

.landing {
  width: 100vw;
  height: 90vh;
  position: relative; }
  .landing .carousel-cell {
    width: 100%;
    height: 90vh; }
  .landing .first {
    background-image: url("../images/painting.jpg");
    background-size: cover; }
  .landing .second {
    background-image: url("../images/max_lesson.jpg");
    background-size: cover; }
  .landing .third {
    background-image: url("../images/terrarium.jpg");
    background-size: cover; }
  .landing .landing-scrim {
    width: 100%;
    margin: auto;
    padding: 3vh 4vw;
    position: absolute;
    bottom: 15vh;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    z-index: 900; }
    @media (min-width: 600px) {
      .landing .landing-scrim {
        width: 550px;
        padding: 25px;
        bottom: 80px;
        left: calc(50% - 275px); } }
    .landing .landing-scrim h1, .landing .landing-scrim p {
      color: #FFFFFF; }
    .landing .landing-scrim h1 {
      margin-top: 0px; }
    .landing .landing-scrim p {
      margin-bottom: 0; }

.flickity-prev-next-button {
  display: none; }
  @media (min-width: 600px) {
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      display: block;
      background: transparent; } }

div.preview-container {
  padding: 1vh 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #FAFAFA; }
  @media (min-width: 600px) {
    div.preview-container {
      padding: 0 25px; } }
  div.preview-container h1 {
    width: 100%; }

div.lesson-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 1520px) {
    div.lesson-container {
      justify-content: flex-start; } }
  @media (min-width: 600px) {
    div.lesson-container {
      width: 65%;
      padding: 25px; } }

div.preview-description {
  padding: 4vw;
  width: 100%; }
  @media (min-width: 600px) {
    div.preview-description {
      width: auto;
      padding: 0;
      padding-right: 50px;
      flex: 1 1 0; } }

div.about, div.coming-soon {
  padding: 0 5vw; }
  @media (min-width: 600px) {
    div.about, div.coming-soon {
      padding: 0 100px; } }

div.about {
  width: 100vw;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box; }
  div.about li {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 1.3em;
    font-weight: lighter; }
    @media (min-width: 600px) {
      div.about li {
        font-size: 24px; } }

div.trio-benefits {
  width: 100%;
  margin: 5vw 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 600px) {
    div.trio-benefits {
      flex-wrap: nowrap;
      flex-direction: row; } }
  div.trio-benefits h2, div.trio-benefits p {
    margin: 1vh 0; }
  div.trio-benefits svg[class*='fa'] {
    font-size: 4em; }
    @media (min-width: 600px) {
      div.trio-benefits svg[class*='fa'] {
        font-size: 50px; } }
  div.trio-benefits div.benefit {
    margin: 1vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 600px) {
      div.trio-benefits div.benefit {
        width: 25vw;
        padding: 20px; } }
    div.trio-benefits div.benefit p {
      font-size: 20px;
      text-align: center; }

div.how-it-works {
  padding: 0 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box; }
  div.how-it-works h1.title {
    width: 100%; }
  div.how-it-works h2 {
    margin: 0; }
  div.how-it-works div.step {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    @media (min-width: 600px) {
      div.how-it-works div.step {
        width: 25%; } }
